body{
    font-family: Avenir-Next,Roboto,sans-serif;
}
body >p{
    font-size: 16px;
}
/* Navbar */
.navList {
  margin: 0;
	padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navImg{
  width: 120px;
  height: 50px;
  margin: auto;
}
.navList li{
  display: inline;
}
.navList li a {
  color: #424242;
  font-size: 16px;
  text-decoration: none;
}
.liImg{
  height: 20px;
}
.nav_button{
  color: white;
  background-color: orange;
  border: none;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  margin: auto;
}
.nav_button:hover{
  opacity: 0.7;
}

/* Home Page */
.welcomePage{
  position: relative;
  margin: 0 auto;
}
.welcomePage img {
  max-width: 100%;
}
.homePage{
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: #000000b3;
  color: #f1f1f1;
  max-width: 100%;
  
}
.main_heading {
  font-size: 90px;
}
.homePage .code-line {
  font-size: 33px;
}
.button{
  color: white;
  border: none;
  width: 200px;
  background-color:  #4992ca;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
}
.button2{
  color: white;
  border: 2px solid white;
  background-color:  transparent;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
}
.button3{
  color:;
  border: none;
  background-color:  white;
  border-radius: 15px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover, .button2:hover, .button3:hover {
  opacity: 0.7
}


/* Pocket Monsters Section */
.pocketmonsection {
  font-family: Avenir-Next, Roboto, sans-serif;
  background-color: #4992ca;
  color: white;
  text-align: center;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  height: auto;
}
.pocketmonsection h2 {
  font-size: 45px;
}
.pocketmonsection h4 {
  font-size: 30px;
}
.pocketsection {
  display: flex;
  flex-wrap: initial;
  justify-content: space-around;
}

/* Statistics Section */
.statisticsSection {
  font-family: Avenir-Next, Roboto, sans-serif;
  text-align: center;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.statisticsSection h2 {
  font-size: 45px;
}
.statisticsSection h4 {
  font-size: 30px;
}
.staSection {
  display: flex;
  justify-content: space-around;
}

/* Pokemon of the year section */
.pokemonOfTheYear {
  font-family: Avenir-Next, Roboto, sans-serif;
  font-weight: 100;
  text-align: center;
  max-width: 100%;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.pokemonYear {
  display: flex;
  flex-direction: column;
  text-align: initial;
}
.pokemon {
  display: flex;
}
.pokemon .aa{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.pokemonOfTheYear h4 {
  font-size: 30px;
}
.pokemonOfTheYear h6{
  font-size: 18px;
}

/* Q and A section */
.QandAsection {
  background: #4992ca;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
.QandAsection h2 {
  text-align: center;
  font-size: 45px;
}
.QandAsection h6{
  font-size: 18px;
}

/* Pokemon Battle Table */
.pokemonBattle {
  text-align: center;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.pokemonBattleTable {
  display: inline-flex;
  justify-content: space-between;
  text-align: left;
}
.pokemonBattleTable > div{
    margin: 5px;
}
.battleFlex1{
  flex: 1;
}
.battleFlex2{
  flex: 2;
}
#pokemonTable {
  border-collapse: collapse;
  color: #8a8a8a;
  width: 100%;
}
td,th {
  border: 1px solid #8a8a8a;
  padding: 5px;
}
.tableButton {
  width: 12%;
  height: 30px;
  color: white;
  padding: 10px;
  background: #4992ca;
  border: none;
  padding: 15px
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
}
.tableButton:hover {
  opacity: 0.7;
}
#buttonHeading {
  color: #4992ca;
}
.pokemonBattle h2 {
  font-size: 45px;
}

/* Know more about pokemon Section */
.knowMorePokemon {
  background-color: #424242;
  text-align: center;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
.clickButton {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 15%;
  padding: 15px;
}
.knowMorePokemon .code-line {
  font-size: 45px;
}

/* Pokemon Card */
.pokemonCard {
  color: #8a8a8a;
  text-align: center;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%;
 
}
.card {
  background-color: white;
	width: 20%;
	padding: 0;
	padding-bottom: 20px;
	border: 1px solid #F0F0F0;
}
.pokemonCard h3 {
  font-size: 45px;
}
.pokemonCard h6{
  font-size: 18px;
  color: black;
}
.cardHead{
  background-color: #f1f0f0;
  border-top: 18px solid #4992ca;
}


/* Pokemon Trainers Section */
.pokemonTrainerSection {
  background-color: #4992ca;
  font-family: Avenir-Next, Roboto, sans-serif;
  color: white;
  text-align: center;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.pokemonTrainerSection h4{
  font-size: 30px;
}
.pokemonTrainerSection h6{
  font-size: 18px;
}
.pokemonTrainerFlex {
  display: flex;
  flex-direction: column;
}
.pokemonFlex {
  display: flex;
}
.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.image2 {
  width: 120px;
  height: 50px;
}

/* Cards Section */
.cardsSection {
  text-align: center;
  margin: 0;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  color: #8a8a8a;
}
.cardsSection h3{
  font-size: 45px;
}
.cards_contaner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardPart{
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 8px;
  line-height: 24px;
  text-align: left;
  color: black;
}
.cardHeader{
  margin-bottom: 0;
  padding-left: 10px;
  border-bottom: 1px rgba(0, 0, 0, 0.125) solid;
  border-top: 16px #4992ca solid;
  background-color: rgba(0, 0, 0, 0.03);
}
.cardBody{
  padding: 10px;
}

/* Input Section */
.inputSection {
  text-align: center;
  background-color: #424242;
  color: white;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.inputSection .code-line {
  font-size: 45px;
}
.inputMail {
  width: 15%;
  height: 10%;
  padding: 15px;
}
.buttonSubmit {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 15%;
  padding: 15px;
}

/* Games Section */
.pokemonGames{
  text-align: center;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  
}
.pokemonGameFlex{
  display: flex;
  justify-content: space-around;
}
.pokemonGames img{
  width: 200px;
  height: 200px;
}
.pokemonGames h3{
  font-size: 30px;
  color: #8a8a8a;
}
.pokemonGames h6{
  font-size: 18px;
}

/* Designers */
.designers{
  text-align: center;
  background-color: #4992ca;
  color: white;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.designerFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.designers h3{
  font-size: 30px;
}
.designers h6{
  font-size: 18px;
}
.designersFace{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Logos */
.logos{
  text-align: center;
}
.logoFlex{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding: 15px;
  
}
.logos h3{
  font-size: 30px;
  color: #8a8a8a;
}

/* Know more Section */
.knowMoreSection {
  text-align: center;
  color: white;
  background-color: #4992ca;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.button_knowMore {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 15%;
  padding: 10px;
}
.knowMoreSection .code-line {
  font-size: 45px;
}

/* Footer */
.footer{
  text-align: center;
  background-color: #424242;
  padding: 25px;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}
ul{
  list-style: none;
}
li{
  color: white;
}
.footerFlex{
  display: flex;
  justify-content: space-around;
}
.footer p{
  color: #8a8a8a;
}
.footerFlex .fa{
  color: white;
}